.contactItemContainer{
  border: 1px solid rgb(223, 201, 201);
  width: 80%;
  text-align: center;
  height: 250px;
}
.brandpic{
  height: 300px;
  width: 80%;
  margin-top: 60px;
}

ul{
  list-style-type: none;
}

h2,h4{
  color : burlywood
}
h5{
  color: blue;
}
.picture{
height: 50;
width: 20%;
margin-left:2% ;
}
.sales{
  border-style: outset;
  border-color: rgb(223, 178, 178); 
  border-radius: 30px;
  padding-left: 40px;
  margin-top: 150px
}

.listContainer{
  display: flex;
  flex-wrap: wrap
}

.curve {
  margin-top: 80px
}
img {
  border-radius: 30px;
}

.but{
  margin-bottom: 80px;
  margin-top: 80px;

}

h1{
  color: brown;
  margin-top: 30px;
  margin-bottom: 70px;
}

